body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: hsl(60, 98%, 47%); /* A light grey background */
    color: hsl(285, 87%, 44%);
}

h1 {
    color: hsl(128, 100%, 35%);
}

p {
    line-height: 1.6;
}